<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="Budget Party" content="">
    <meta name="Zieka" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
<link rel="stylesheet" href="/css/dashboard.css">
  </head>
  <body style="
<%#     background: #A3CACC; %>
    background: #91C5C7;
">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Budget Party | </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

<%= if logged_in?(@conn) do %>
            <li><a><%= current_user(@conn).email %></a></li>
            <li><a><strong><%= button "Logout", to: session_path(@conn, :delete), method: :delete,  style: "background:none;
  border:0;"%></strong></a></li>
<% end %>

          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row" style="background: #91C5C7;">
        <div class="col-sm-3 col-md-1 sidebar"
          style="background: rgb(115, 136, 158);">
          <ul class="nav nav-sidebar">
            <li class="active"><a sidebar = "Overview" href="/home">Overview <span class="sr-only">(current)</span></a></li>
            <li><a sidebar = "Needs" href="/needs">Needs</a></li>
            <li><a sidebar = "Wants" href="/wants">Wants</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <p>A fortune for you:</p><p class="fortune"></p>

         <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>


          </div>
        </div>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app").App.run()</script>

<script type="text/javascript">

  function getRandomInt (min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  var request = new XMLHttpRequest();

  request.open('GET', 'http://fortunecookieapi.com/v1/fortunes?limit=1&skip='+ getRandomInt(1,500));

  request.onreadystatechange = function () {
    if (this.readyState === 4) {
      var obj = JSON.parse(this.responseText)
      $(".fortune").text('"'+obj[0].message+'"');
    }
    else {
      $(".fortune").text("Here are your needs and wants");
    }
  };

  request.send();

</script>

<script>
  $(".nav a").on("click", function() {
    $(".nav").find(".active").removeClass("active");
    $(this).parent().addClass("active");
  });
</script>


  </body>
</html>
