<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="BudgetParty" content="">
    <meta name="zieka" content="">
    <link rel="icon" href="/images/budgetparty.png">

    <title>Budget Party</title>



		<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  </head>

  <body  background="/images/abacus.jpg">

    <div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="cover-container">


          <div class="masthead">
            <div class="inner">
              <h3 class="masthead-brand">BP</h3>
              <nav>
                <ul class="nav masthead-nav">

          <%= if logged_in?(@conn) do %>

            <li><%= link current_user(@conn).email, to: home_path(@conn, :index) %></li>
            <li><%= link "Logout", to: session_path(@conn, :delete), method: :delete %></li>

          <% else %>

            <li><a href="/login">Login</a></li>

          <% end %>

                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Welcome to Budget Party</h1>
            <p class="lead">Personal budgeting made simple.</p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright 2016 </p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>

</html>