<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="BudgetParty" content="">
    <meta name="zieka" content="">
    <link rel="icon" href="/images/budgetparty.png">

    <title>Budget Party</title>



    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  </head>

  <body  background="/images/abacus_fade.jpg">

    <div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="cover-container">


          <div class="masthead">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
              <nav role="navigation" >
                <ul class="nav masthead-nav">

<%= if logged_in?(@conn) do %>

            <li><%= link current_user(@conn).email, to: home_path(@conn, :index) %></li>
            <li><strong><%= button "Logout", to: session_path(@conn, :delete), method: :delete,  style: "background:none;
  border:0;"%></strong></li>

<% end %>

                </ul>
              </nav>
            </div>
          </div>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <div class="inner cover">

<%= if logged_in?(@conn) do %>
            <h1> You are aleady logged in! </h1>
            <a href="/home" class="btn btn-lg btn-default">Home</a>
<% else %>
            <%= render @view_module, @view_template, assigns %>
<% end %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright 2016 </p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>

</html>