<h2>New Want</h2>

<%= render "form.html", changeset: @changeset,
                        action: wants_path(@conn, :create),
                        user: current_user(@conn).email %>

<%= link "Back", to: wants_path(@conn, :index) %>
