<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Budget Party" %></h2>
  <p class="lead">Personal and group budgeting made simple.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Sign In</h4>
  </div>

  <div class="col-lg-6">
    <h4>Register</h4>
  </div>
</div>
